
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/database_data/
/data/

/.idea
/.vscode
###> phpstan/phpstan ###
phpstan.local.neon
###< phpstan/phpstan ###

###> exclude images from VichUploaderBundle ###
# This is a custom mapping for VichUploaderBundle to exclude images from being uploaded
# to the public directory.
# It is not a standard practice, but it is used here for demonstration purposes.
/public/images/recipes/
