{% extends 'base.html.twig' %}

{% block title recipe.title %}

{% block body %}
    <h1>Edit a recipe</h1>
    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
