{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        <b>{{ recipe.title }}</b> (durée {{ recipe.duration }}mn)  <br>
        <a href="{{ path('recipe.edit', { id: recipe.id }) }}">Modifier</a>
        <p>{{ recipe.content | raw }}</p>

{% endblock %}
