{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        <b>{{ recipe.title }}</b> (durée {{ recipe.duration }}mn)<br>
        <p>{{ recipe.content | raw }}</p>
    </p>

{% endblock %}
